//- 404.pug

html
	head
		link(rel="stylesheet", href="/styles/style.css")
		link(rel="stylesheet", href="/styles/404.css")
	body
		h1 404 - Page Not Found!
		h3 You've arrived at a URL that the server doesn't know what to do with! Try starting from 
			a(href="/home") the Incuvision home page. 