//- experiment_individual.pug

extends includes/layout

block append styles
	link(rel="stylesheet", href="/styles/experiment_individual.css")

block content
	.main
		h2.experimentName Experiment RatExperiment
		