html, body { margin: 0; padding: 0; }

h1, h2, h3, h4 {
	font-family: Helvetica, sans-serif;
	color: white;
	margin: 0;
}

h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }

span, label {
	color: black;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
}
