.newExperimentArea {
	padding: 20px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.newExperimentArea h2, .newExperimentArea h3 {
	color: black;
	margin: 20px 0;
}

.newExperimentForm {
	display: flex;
	flex-direction: column;
}

.formGroup:nth-of-type(1) {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.formGroup:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.formGroup {
	padding: 10px;
	background-color: #EEF4FF;
	border: 1px solid #ccc;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.formGroup input, textarea {
	margin-left: 10px;
}

.formGroup label {
	text-align: left;
	font-size: 1.3em;
	margin-right: 15px;
}

.formGroup .experimentId {
	border: 1px solid #ccc;
	background: white;
	padding: 2px 5px;
	margin-left: 10px;
}

.durationRow {
	text-align: left;
	margin: 10px 0;
	width: fit-content;
}

input[name="frequency"] {
	width: 40px;
	text-align: center;
}

.durationLabel {
	font-weight: bold;
	margin: 0 10px;
}

.createExperimentBtn {
	cursor: pointer;
	margin-top: 30px;
	border-radius: 15px;
	padding: 20px;
	background: green;
	color: white;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 1.5em;

	box-shadow: 3px 3px rgba(0,128,0, 0.8) 
}

.createExperimentBtn:hover {
	color: rgb(207, 247, 207);
	box-shadow: 2px 2px rgba(0,128,0, 0.8);
	transform: translate(1px, 1px);
}

.createExperimentBtn:active {
	box-shadow: none;
	transform: translate(3px, 3px);
}

.createExperimentBtn:focus { outline: none; }

.invalid-response {
	color: red;
	margin-top: 20px;
}

.complete-response {
	color: green;
	margin-top: 20px;
}