.main {
	display: flex;
	flex-direction: column;
}
/* 
.main > div {
	flex: 1;
} */

.header {
	flex: 0 1 auto;
	height: min-content;
	background-color: rgba(40,44,52,1);
	padding: 10px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header > h1 {
	color: white
}

.header .fa-user {
	color: white;
}

.userArea {
	text-decoration: none;
	display: flex;
	align-items: center;
}

.username {
	color: white;
	margin: 0 5px 0 0;
}

.user-btn {
	background: none;
	border: none;
	cursor: pointer;
}

.user-btn:active .fa-user {
	color: #bbb;
}

.navbar {
	background-color: #3D434F;
}

.navbar ul {
	display: flex;
	justify-content: center;
}

.navbar ul a{
	color: white;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px 10px;
}

.active {
	background-color: #282C34;
}

.fourohfour {
	margin-top: 50px;
	color: black;
}

.logout {
	background-color: #3D434F;
	color: white;
	padding: 5px;
	margin-right: 15px;
	font-size: 1.3em;
	border: 1px solid #bbb;
	border-radius: 2px;
}

.logout:hover {
	color: #ccc;
}