/* Dark gray: #282C34 and rgb(40,44,52) */
/* Blue-gray: #3C5380 and rgb(60,83,128) */

html, body { margin: 0; padding: 0; }

html, body, #root, #root>div, .app, .app>div {
  height: 100%;
}

p { 
	margin: 0; 
	font-family: 'Lora', serif;
}

a { 
	text-decoration: none;
	color: inherit; 
	font-family: inherit;
	font-size: inherit;
}

h1, h2, h3, h4 {
	font-family: Helvetica, sans-serif;
	color: white;
	margin: 0;
}

.black { color: black; }

h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }
h4 { font-size: 1.4em; }


span, label, input {
	color: black;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
}

input {
	color: #666;
}

input:focus {
	outline: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}